<launch>
    <include file="$(find pr2_2dnav_slam)/pr2_2dnav.launch" />
    <include file="$(find ar_track_alvar)/launch/kinect.launch" />
    <include file="$(find ar_track_alvar)/launch/pr2_indiv.launch" />
    <param name="/move_base_node/global_costmap/inflation_radius" value=".45" />
    <param name="/move_base_node/local_costmap/inflation_radius" value=".45" />
    <param name="/move_base_node/global_costmap/resolution" value = ".025" />
    <param name="/move_base_node/local_costmap/resolution" value = ".025" />
</launch>
