<launch>
    <include file="$(find catch_me)/catch_me_robot_no_client.launch" />
    <node pkg="catch_me"
          name="head_tracking"
          type="head_object_tracking.py" />
    <node pkg="catch_me"
          name="destination_service"
          type="destination_service.py" />
    <node pkg="catch_me"
          name="destination_publisher"
          type="destination_publisher.py" />
    <node pkg="catch_me"
          name="local_search"
          type="local_search.py" />
</launch>
